:host {
  height: 100%;
}

.container {
  height: 100%;
  background: aliceblue ;
}

.container__sidenav{
  width: 200px;
  padding: 0 10px;
}

.select-styled.cdk-overlay-pane {
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden !important;
  padding-bottom: 5px !important;
  z-index: 5 !important;
}

