@import '../../css/core/core-scss';
@media (-moz-touch-enabled: 1),
(pointer:coarse) and (max-width: $media-tablet) {
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    background: rgba(#000, .2);
    opacity: 1;
  }
}

.cdk-overlay-pane {
  z-index: 1000000;
  transform: none !important;
  box-shadow: none !important;
}

@media (max-width: $media-mobile) {
  .cdk-overlay-pane {
    max-width: 94% !important;
  }
}

.cdk-overlay-pane[style*="top: auto;"] .menu {
  display: none;
}

.mat-elevation-z4,
.mat-elevation-z3,
.mat-elevation-z2,
.mat-elevation-z1 {
  box-shadow: none !important;
}



/* styleSelectDropdownFilters BEGIN */

.styleSelectDropdownFilters {
  position: relative !important;
  .mat-form-field-underline {
    background: transparent !important;
    bottom: 0 !important;
    left: -9px !important;
    width: calc(100% + 18px) !important;
    z-index: 10000;
  }
  .mat-form-field-wrapper,
  .mat-select .mat-select-trigger,
  .mat-form-field-label-wrapper {
    height: 34px !important;
    line-height: 34px !important;
  }
  .mat-form-field-wrapper {
    padding: 0 !important;
  }
  .mat-form-field {
    display: block !important;
  }
  .mat-select .mat-select-trigger {
    padding: 0 3px 0 10px !important;
    font-weight: 400 !important;
    display: table;
    transition: all 0.4ms ease !important;
    background-color: #fff !important;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 -8px !important;
  }
  // .mat-select[aria-activedescendant] .mat-select-trigger {
  //     background-color: #f8f8fa !important;
  // }
  .mat-select[aria-activedescendant] .mat-select-arrow {
    border-bottom: 5px solid;
    border-top: none;
  }
  .mat-form-field-label-wrapper {
    padding: 0 !important;
    top: 0 !important;
  }
  .mat-form-field-label {
    top: 0 !important;
    font-weight: normal !important;
    color: $color-button-default !important;
    padding-left: 0 !important;
    padding-right: 5px !important;
    width: calc(100% - 5px) !important;
  }
  .mat-form-field-infix {
    border-top: 0 !important;
    padding: 0 !important;
    width: auto !important;
  }
  .mat-form-field-disabled .mat-form-field-underline {
    background: none !important;
  }
  .mat-form-field-hide-placeholder .mat-select-placeholder {
    display: none !important;
  }
}

.styleSelectDropdownFilters.hideSelectTextValue .mat-select-value .mat-select-value-text {
  display: none !important;
}

.styleSelectDropdownFilters.hideSelectTextValue .mat-form-field-label-wrapper .mat-form-field-label {
  display: block !important;
}

.select-styled-filters {
  visibility: hidden;
  position: relative !important;
  transform: none !important;
  transform-origin: 50% 50% 0 !important;
  border: 1px $color-border solid !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
  border-radius: $border-radius !important;
  min-width: calc(100% + 1px) !important;
  max-width: initial !important;
  max-height: 100% !important;
  margin-top: 1px;
  background-color: #fff !important;
  &.cdk-overlay-pane {
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 5px !important;
    z-index: 6 !important;
  }
  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background: #f7f8fa !important;
  }
  .mat-option {
    font-weight: normal !important;
    color: #333 !important;
    font-size: $font-size !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    display: flex;
    height: 27px !important;
    line-height: 27px !important;
  }
  .mat-primary .mat-option.mat-selected {
    color: rgba(0, 0, 0, .87) !important;
  }
  .mat-option-text {
    display: flex !important;
  }
  .list-container {
    display: flex;
    align-items: center;
    padding-right: 10px;
    min-width: 28px;
  }
  .check-item {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid $color-border;
    font-size: calc(#{$font-size} + 1px);
    justify-content: center;
  }
  .dvl-option-selected .check-item {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: #fff !important;
  }
  .text-container {
    display: flex;
    align-items: center;
    white-space: normal;
    line-height: 1.2;
    min-height: 14px;
  }
  .box-status-boolean,
  .boolean-icon {
    display: flex;
    align-items: center;
  }
  &.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #333 !important;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .select-styled-filters {
    min-width: calc(100% + 2px) !important;
  }
}

// .styleSelectDropdownFilters .mat-focused .mat-select-trigger {
//     background: darken(#f8f8fa, 3%) !important;
// }

/*.styleSelectDropdownFilters END */
