<div [dropDownStyleActions]="true" class="styleSelectDropdownFilters">
  <mat-form-field style="width: 100%" floatLabel="never">
    <mat-label>
      <span>filtering</span>
    </mat-label>
   <mat-select panelClass="select-styled-actions-lists">
     <mat-option>First option</mat-option>
   </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%" floatLabel="never">
    <mat-label>
      <span>filtering</span>
    </mat-label>
    <mat-select panelClass="select-styled-actions-lists">
      <mat-option>First option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

